input:focus-visible {
    
    outline: none;
}
.autocomplete {
    padding: 16px;
}
.autocomplete-input {
    margin-top: 8px;
    border-color: #000;
    border-width: 2px;
    width: 300px;
    height: 28px;
    font-size: 16px;
    
}
.autocomplete-input_suggestions {
    border: solid 2px black;
    max-width: 304px;
    max-height: 300px;
    overflow-y: scroll;
}
